# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

empty=[]
for i in test_list:
  empty.append(i[0])

empty=set(empty)

res=[]
for i in empty:

  res.append([i])

  for j in test_list:

    if j[0]==i:

      res[-1].append(j[1])


print(list(map(tuple,res)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
# write your code here
x=(1, 5, 7, 8, 10)


res=[x[0]* x[1]]
for i in range(1,len(x)-1):
  y= x[i]*x[i-1] + x[i] * x[i+1]
  res.append(y)
res.append(x[-1]*x[-2])

tuple(res)

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here

t1 = (1,2,3,0)
t2 = (0,1,2,3)

if t1==t2:
  print("same")
else:
  print("not same")

not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

lis=0
se=0
tupl=0
for i in list1:
  if type(i)==list:
    lis=lis+1
  elif type(i)==set:
    se=se+1
  elif type(i)==tuple:
    tupl=tupl+1


print("list -",lis)
print("set -",se)
print("tuple -",tupl)

list - 2
set - 2
tuple - 1

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

result=[0,0,0]

for i in list1:
  if type(i)==list:
    result[0]=result[0]+1
  elif type(i)==set:
    result[1]=result[1]+1
  elif type(i)==tuple:
    result[2]=result[2]+1

print("list--{}\nset--{}\ntuple--{}".format(result[0],result[1],result[2]))

list--2
set--2
tuple--1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:

output=[]
n=int(input("Enter number of records"))
for i in range(1,n+1):
  print("Enter the {} number".format(i))
  name=input("Enter Student name- ")
  Education=input("Enter Higher Education- ")
  skill=input("Enter Primary Skill- ")
  y_o_b=input("Enter Year of Graduation- ")

  output.append((name, Education,skill,y_o_b))

print()
print()
req_H_Education=input("Enter the require_Education- ")
req_skill=input("Enter the require_Skill- ")
req_y_o_d=input("Enter the Y-O-B- ")



for i in output:
  if i[1]==req_H_Education and i[2]==req_skill and i[3]==req_y_o_d:
    print(i)
  else:
    print("not such match")

Enter number of records1
Enter the 1 number
Enter Student name- ashish
Enter Higher Education- bba
Enter Primary Skill- c++
Enter Year of Graduation- 2033


Enter the require_Education- btech
Enter the require_Skill- python
Enter the Y-O-B- 2022
not such match

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

x=set(ar1) | set(ar2)

x.intersection(set(ar3))

{20, 80}

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

x=set(Str1)
print(x)
count=1
for i in x:
  if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
    count=count+1
print(count)

{'e', 'u', 'l', 'y', 'o', 'A', 'v', 'w', 'g', 'X', '-', 'a', 'd', 'i', 'r', 'p', 'n', 'c', 't', 'm', 'h', ' ', 's', 'b', 'f', 'C'}
6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here
str1 = "0101010101"
# str = "1222211"


x=set(str1)

if len(x)==2:
  print("It is binery number")
else:
  print("it is not binery number")

it is not binery number

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here
z=[[1, 2, 2, 4, 3, 6],[5, 1, 3, 4],[9, 5, 7, 1],[2, 4, 1, 3]]


s=set()
print(s)
for i in z:
  s.update(i)

print(s)

set()
{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

lst1.intersection_update(lst2)

print(lst1)

{9, 10, 4, 5}

In [ ]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

lst1.intersection_update(lst2)

print(lst1)

{9, 26, 11, 28}

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
# write your code here

# test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

x=list(test_dict)

y=0
z=""
for i in range(0,len(test_dict)):
  if  y < len(set(test_dict[x[i]])):

    y=len(set(test_dict[x[i]]))

    z=x[i]


print(z)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

x=[]
for i in test_str.split():

  if i in repl_dict:
     x.append(repl_dict[i])
  else:
    x.append(i)


print(" ".join(x))

CampusX is the best channel for Data-Science students.

In [ ]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}

x=[]
for i in test_str.split():

  if i in repl_dict:
     x.append(repl_dict[i])
  else:
    x.append(i)


print(" ".join(x))

CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
# write your code here

# test_list = ["CampusX", 10]
# key_list = ["name", "id"]

test_list = ["DataScience", 3, "python", 8]
key_list = ["name", "id"]

res=[]
for i in range(0,len(test_list),2):

  res.append({key_list[0]: test_list[i],key_list[1]: test_list[i+1]})

print(res)

[{'name': 'DataScience', 'id': 3}, {'name': 'python', 'id': 8}]

In [ ]:
test_list = ["DataScience", 3, "python", 8]
key_list = ["name", "id"]

res=[]
for i in range(0,len(test_list),2):

    res.append({key_list[0]: test_list[i],key_list[1]: test_list[i+1]})


print(res)

[{'name': 'DataScience', 'id': 3}, {'name': 'python', 'id': 8}]

In [ ]:
test_list = ["DataScience", 3, "python", 8]
key_list = ["name", "id"]

res = []
for i in range(0, len(test_list), 2):
    rej = []
    for j in range(len(key_list)):
        rej.append({key_list[j]: test_list[i+j]})
    res.append(rej)

for i in res:
  print(i, end="  ")

[{'name': 'DataScience'}, {'id': 3}]  [{'name': 'python'}, {'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [19]:
# write your code here
x=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
res=[]

for i in range(0,len(x)):
  res.append(x[i][0])

c={}
for j in range(len(x)):

  c.update({res[j]: [x[j][1]] })


print(c)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [ ]:
L = [('A', 1), ('B', 2), ('C', 3)]
d = {}
for i,j in L:
  d[i] = [j]

print(d)

{'A': [1], 'B': [2], 'C': [3]}

In [ ]:
L = [('A', 1), ('B', 2), ('C', 3)]


{ i[0]: [i[1]] for i in L}

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here
# x={'c': [3], 'b': [12, 10], 'a': [19, 4]}
x={'c': [10, 34, 3]}

res={}
for i in sorted(x):
  res[i]= sorted(x[i])
print(res)

{'c': [3, 10, 34]}