### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def unique_value(f):

  return set(f)

z=unique_value([1,2,3,3,3,3,4,5])
print(list(z))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
def x(xx):

  rest=[]
  for i in xx.split("-"):
    rest.append(i)

  result=[]
  for i in sorted(rest):
    result.append(i)

  return "-".join(result)


x("green-red-yellow-black-white")

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
Sample='CampusX is an Online Mentorship Program fOr EnginEering studentS.'
res=[]
lo=[]
for i in range(0,len(Sample)):
  if(Sample[i].isupper()):
    res.append(Sample[i])
  elif(Sample[i].islower()):
    lo.append(Sample[i])



print(len(res))
print(len(lo))

9
47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
list(filter(lambda x: x%2==0   ,[1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
def perfect_Number(x):
  sum=0
  for i in range(1,x):
    if x%i/2==0:
      sum=sum+i
  return "perfect" if sum==x else "not perfect"

print(perfect_Number(28))

perfect

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here


def x():
  dic1={1:10, 2:20}
  dic2={3:30, 4:40}
  dic3={5:50,6:60}

  dic1.update(dic2)
  dic1.update(dic3)

  print(dic1)

x()

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

def dic(*kwargs):
  x={}
  for i in kwargs:
     x.update(i)
  return x

dic(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here

def counted(x):
  count=0
  for i in x.split():
    if i=="you":
      count+=1

  print("you -> ",count)



counted("hello how are you i am fine thank you")

you ->  2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [5]:
# Write code here
import math
x=[13,42,15,37,22,39,41,50]

min_num= math.floor(min(x)/10)*10
max_num= math.ceil(max(x)/10)*10



d={}
for i in range(min_num, max_num, 10):
  count=0
  for j in x:
    if i+1<=j<=i+10:
      count=count+1

  d[str(i+1) + "-" + str(i+10)] = count
print(d)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
from ast import Index
# Write code here
import math
def shortest(a,b):
  temp=[]
  for i in a:
    distance= math.sqrt(((i[0] - b[0])**2 + (i[1] - b[1])**2))
    temp.append(distance)

  print(a[temp.index(min(temp))])
  # return a[sorted(list(enumerate(temp)),key= lambda x:x[0])[0][0]]


a=[(1,1),(2,2),(3,3),(4,4)]
b=(0,0)
shortest(a,b)
# a=[(1,4),(2,-2),(13,3),(14,4)]

(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [40]:
# Write code here
def bow(l):

  vocab=set()
  for i in l:
    vocab.update(i.split())

  result=[]
  for i in l:
    result.append([])
    for j in vocab:
      result[-1].append(i.count(j))
  print(vocab)
  return result



l = [
    'cat mat rat cat',
     'sat bat fat cat rat',
     'pat cat mat rat'
]
bow(l)

{'mat', 'pat', 'rat', 'sat', 'bat', 'fat', 'cat'}

[[1, 0, 1, 0, 0, 0, 2], [0, 0, 1, 1, 1, 1, 1], [1, 1, 1, 0, 0, 0, 1]]

In [75]:
def bow(l):

  vocab=set()
  for i in l:
    vocab.update(i.split())
  print(vocab)
  result=[]
  for i in l:
    result.append([])

    for j in vocab:
      result[-1].append(i.count(j))

  return result


l = [
    'cat mat rat cat',
     'sat bat fat cat rat',
     'pat cat mat rat'
]
bow(l)

{'mat', 'pat', 'rat', 'sat', 'bat', 'fat', 'cat'}

[[1, 0, 1, 0, 0, 0, 2], [0, 0, 1, 1, 1, 1, 1], [1, 1, 1, 0, 0, 0, 1]]

In [100]:
def bag(l):

   vocab =set()

   for i in l:
    vocab.update(i.split())

   print(vocab)

   result=[]

   for i in l:
    result.append([])

    for j in vocab:
      result[-1].append(i.count(j))
   return result

l = [
      'cat mat rat cat',
      'sat bat fat cat rat',
      'pat cat mat rat'
]
bag(l)

{'cat', 'rat', 'mat', 'bat', 'fat', 'pat', 'sat'}

[[2, 1, 1, 0, 0, 0, 0], [1, 1, 0, 1, 1, 0, 1], [1, 1, 1, 0, 0, 1, 0]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [82]:
# Write code here
import functools

a=[1,2,3,]
b=[4,5,6]
c=[7,8,9]

list(map(lambda x,y,z: x+y+z , a,b,c))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here

def indexSquare(list1):

  x=[]
  for i in range(0,len(list1)):
    x.append(list1[i]**i)
  return x

indexSquare([1,2,3,4,5,6])

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [107]:
# Write code here
str1="FIFA world cup in 2022 will take place in Qatar"
list(filter(lambda x: True  if x.lower() in "aeiou" else False, str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [84]:
# Write code here
import functools
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]


functools.reduce(lambda x,y:x+y, a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [1]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']